body{
    background: linear-gradient(
        to bottom right, #8FADB6, #EEC9A5, #E5B985, #8FADB6
    );
}
nav{
    background-color: rgb(211, 233, 240);
    height: 60px;
    width: 100%;
    opacity: .8;
    position: absolute;
}

.nav-link{
    color: #E4B782;
    font-family: quasimoda, sans-serif;
    font-size: 25px;
    margin-right: 25px;
}

#contact{
    color: #707070;
}
.background{ 
background: #FCFCFC;
}

i{
    display: flex;
    padding-top: 10px;
    padding-right: 40px;
    justify-content: center;
    font-size: 35px;
}

.name{
    text-align: center;
    color: #E4B782;
    padding: 70px;
    font-size: 100px;
    font-family: grafolita-script, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.title{
    text-align: center;
    color: #F4C9AA;
    padding: 50px;
    font-family: quasimoda, sans-serif;
    font-size: 30px;
    font-style: oblique;
    margin-bottom: 50px;
}
.card{
    border: none;
    margin-bottom: 20px;
    background-color: transparent;
}
.col img{
    width: 400px;
    height: 300px;
    object-fit: scale-down;
    padding: 5px;
}

.project{
    /* background: linear-gradient(
        to top right, #8FADB6, #EEC9A5, #E5B985
    ); */
    margin-bottom: 50px;
}

#work{
    width: 55%;
    background-color: #FCFCFC;
}

.about{
    background: #FCFCFC;
    
}

h1{
    font-family: quasimoda, sans-serif;
    padding: 50px;

}
p{
    font-family: quasimoda, sans-serif;
    padding: 15px;
    margin-top: 25px;

    float: right;
}

#image{
    width: auto;
    height:300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* .chart img{
    width: 300px;
    height: 200px;
} */
#action{
    margin: 100px;
    background-color: linear-gradient(
        to top right, #8FADB7, #EEC9A5, #E5B985
    );
}

.footer{
    background: #707070;
    z-index: 0;
}