
nav{
    background-color: #86ABB7;
    height: 60px;
    width: 100%;
    opacity: .8;
    position: absolute;
}

.nav-menu{
    color: #FCFCFC;
}

i{
    display: flex;
    padding-top: 10px;
    padding-right: 40px;
    justify-content: center;
    font-size: 35px;
}

.name{
    text-align: center;
    color: #E4B782;
    padding: 70px;
    font-size: 100px;
    font-family: grafolita-script, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.title{
    text-align: center;
    color: #F4C9AA;
    padding: 50px;
    font-family: quasimoda, sans-serif;
    font-size: 30px;
    font-style: oblique;
}
.card{
    border: none;
    margin-bottom: 20px;
    background-color: transparent;
}
.col img{
    width: 400px;
    height: 300px;
    object-fit: scale-down;
    padding: 5px;
}

.project{
    background: linear-gradient(
        to top right, #8FADB6, #EEC9A5, #E5B985
    );
    
}

#work{
    width: 55%;
    background-color: #FCFCFC;
}

.about{
    background: linear-gradient(
        to bottom left, #8FADB6, #EEC9A5, #E5B985
    );
}

h1{
    font-family: quasimoda, sans-serif;
    padding: 50px;

}
p{
    font-family: quasimoda, sans-serif;
    padding: 15px;
    margin-top: 25px;

    float: right;
}

#image{
    width: auto;
    height:300px;
    margin-top: 25px;
    margin-bottom: 25px;
    
    
}